.img-correction {
    height: 60vh;
    width: 50vw;
  }
body {
    background-image: url("/images/backgrounds/fog_tile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}  